.consultation {
  min-height: 680px;
  padding: 100px 20px 108px 20px;
  background: url(../img/bg2.png) no-repeat center center / cover;
  &__descr {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .error {
    border: 2px solid red;
  }
  label.error {
    border: none;
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 700;
    color: red;
    line-height: normal;
  }
}
