.feed-form {
  margin-top: 36px;
  width: 303px;
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 11px;
    padding: 0 21px;
    border-radius: 5px;
    border-style: none;
    height: 54px;
    background-color: #fff;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
  }
  &_mt25 {
    margin-top: 26px;
  }
}
