@media (max-width: 576px) {
  .modal {
    &__close {
      top: 5px;
      right: 5px;
    }
    &__subtitle {
      line-height: 19px;
    }
    &__descr {
      line-height: 14px;
    }
  }
}

@media (max-width: 400px) {
  .modal {
    width: 100%;
  }
}
