@media (max-width: 790px) {
  .carousel {
    &__inner {
      width: 570px;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 620px) {
  .carousel {
    &__inner {
      width: 400px;
    }
  }
}

@media (max-width: 445px) {
  .carousel {
    &__inner {
      width: 280px;
    }
  }
}
