@media (max-width: 992px) {
  .benefits {
    padding: 30px 20px 30px 20px;
    &__icon {
      span {
        margin: 20px 10px 0 10px;
      }
    }
  }
}

@media (max-width: 576px) {
  .benefits {
    .title {
      font-size: 26px;
    }
    &__icons {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
    &__icon {
      width: 100%;
      font-size: 16px;
      img {
        margin: 20px auto 20px;
      }
      span {
        display: block;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }
    }
  }
}
